@use "../utils" as *;

.wrapper-all {
  max-width: rem(1920);
  margin: 0 auto;
}

// Spacing
.container {
  max-width: rem(1170);
  margin: 0 auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  // &--big {
  //   padding-top: rem(200);
  //   padding-bottom: rem(200);
  // }
  // &--small {
  //   padding-top: rem(150);
  // }

  //   &--pall {
  //     padding-top: 4.375rem;
  //     padding-right: 1.5rem;
  //     padding-bottom: 4.375rem;
  //     padding-left: 1.5rem;

  //     @include breakpoint-up(large) {
  //       padding-top: 6rem;
  //       padding-bottom: 6rem;
  //     }
  //   }
  //   &--py {
  //     padding-top: 4.375rem;
  //     padding-bottom: 4.375rem;

  //     @include breakpoint-up(large) {
  //       padding-top: 6rem;
  //       padding-bottom: 6rem;
  //     }
  //   }
  //   &--px {
  //     padding-right: 1.5rem;
  //     padding-left: 1.5rem;
  //   }
  //   &--pt {
  //     padding-top: 4.375rem;

  //     @include breakpoint-up(large) {
  //       padding-top: 6rem;
  //     }
  //   }
  //   &--pr {
  //     padding-right: 1.5rem;
  //   }
  //   &--pb {
  //     padding-bottom: 4.375rem;

  //     @include breakpoint-up(large) {
  //       padding-bottom: 6rem;
  //     }
  //   }
  //   &--pl {
  //     padding-left: 1.5rem;
  //   }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint(large) {
    display: none !important;
  }
}
