:root {
  //colors
  --c--t1: rgb(246, 84, 100);
  --c--t2: rgb(255, 255, 255);
  --c--text: rgb(160, 168, 181);
  --c-quote: rgb(238, 238, 238);

  //fonts
  --f-mon: "Montserrat", sans-serif;
  --f-open: "Open Sans", sans-serif;
  --f-rale: "Raleway", sans-serif;
}
