@use "../utils" as *;

// p {
//   color: red;
//   font-size: percent(18);
// }

.hero {
  width: 100%;
  height: 100%;
  &__grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(20);
  }
  &__item {
    width: calc((100% - (1.25rem * 3)) / 4);
    background-color: #f7964a;
  }
}
